/* место для вашего кода */

.header {
  display: grid;
  max-width: 1100px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 92px;
  margin-left: 24px;
}

.header__menu {
  display: flex;
  margin-bottom: 39px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding-left: 27px;
  padding-top: 46px;
  padding-bottom: 39px;
}

.header__links-list-item {
  list-style: circle;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: start;
}

.header__logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 105px;
  max-width: 148px;
  margin-left: 40.4px;
  margin-right: 184.5px;
}

.address {
  display: inline;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding-top: 6px;
  padding-right: 27px;
  padding-bottom: 4px;
  width: 240px;
  flex-shrink: 0;
  text-align: right;
}

.address__place {
  display: flex;
  text-align: start;
  width: 240px;
  margin-left: 111px;
}

.cover {
  background-image: url(../images/cover.jpg);
  color: #fff;
  width: 1100px;
  min-height: 757px;
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 55px;
  position: relative;
  z-index: 1;
}

.cover__title {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.aligned-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
  margin-top: 168px;
  margin-left: 50px;
}

.aligned-text_center {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
  position: relative;
  margin-top: 12px;
  margin-left: 0px;
}

.aligned-text_right {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 55px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  z-index: 2;
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
}

.spacing__big {
  letter-spacing: 60px;
}

.spacing__big-center {
  letter-spacing: 52px;
}

.spacing__big-right {
  letter-spacing: 35px;
}

.cover__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  position: relative;
  margin-top: 135px;
  margin-left: 80px;
  word-spacing: 18px;
  z-index: 2;
}

.bet-button {
  position: relative;
  margin-right: 50px;
  margin-top: 125px;
  margin-left: 75px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  flex-shrink: 0;
  white-space: nowrap;
  width: 256px;
  height: 51px;
  z-index: 2;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  position: absolute;
}

.lots {
  width: 1052px;
  display: block;
  margin-top: 179px;
  margin-bottom: 146px;
}

.lots__card-list {
  display: flex;
  justify-content: flex-start;
  width: 1052px;
  min-height: 563px;
  gap: 25px;
  z-index: 0;
  position: relative;
  margin-left: 20px;
}

.lots__card-list-item {
  list-style: none;
  min-height: 563px;
  width: 334px;
  display: flex;
  justify-content: center;
}

.lots__heading {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 65px;
  padding-bottom: 27px;
}

.card-link {
  text-decoration: none;
  display: block;
}

.card {
  width: 334px;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  min-height: 563px;
  
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  min-height: 563px;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  min-height: 563px;
}

.card__title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  z-index: 2;
  width: 254px;
  flex-shrink: 0;
  flex-grow: 1;
}

.card__text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: end;
  position: relative;
  z-index: 2;
  width: 254px;
  flex-shrink: 0;
  flex-grow: 2;
}

.lots__look-more-link {
  text-decoration: underline;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-top: 20px;
  margin-left: 65px;
  margin-right: 790px;
  margin-bottom: 2px;
  word-spacing: 4px;
}

.about {
  max-width: 1052px;
  flex-shrink: 0;
  margin-top: 146px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-bottom: 178px;
}

.about__logo {
  border: 120px solid #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  margin-top: 35px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.about__main {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 133px;
}

.about__title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 101px;
  margin-left: 50px;
  display: grid;
  align-items: start;
  justify-content: start;
}

.about__text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  width: 693px;
  margin-left: 50px;
  margin-bottom: 26px;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 178px;
  margin-bottom: 91px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1000px;
  gap: 185px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 240px;
  gap: 2px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.footer__menu {
  display: flex;
  flex-shrink: 0;
  width: 149px;
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-list {
  display: inline-flex;
  flex-direction: column;
  width: 149px;
  flex-shrink: 0;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
